.btnStart {
    --ion-background-color: var(--ion-color-primary);
    --ion-text-color: var(--ion-color-light);
    border-radius: 30px;
    text-align: center;
}

.btnStart strong {
    margin: 0 20px;
}